(function() {
  const selected_ids = $('#selected_inspections input').map((_, elem) => elem.value).get();
  const details = <%= @details.inspect.html_safe %>;
  const added_details = (id, formal_name) => `
  <div class="control" id="selected_detail_${id}">
    <div class="tags has-addons">
      <span class="tag is-medium">
        ${formal_name}
        <a class="delete is-small"></a>
      </span>
    </div>
    <input type="hidden" name="order[inspections][]" value=${id} />
  </div>`;

  // reference `AjaxController#add_details`
  details.forEach(detail => {
    if (!selected_ids.includes(String(detail[0]))) {
      $('#selected_inspections').append(added_details(detail[0], detail[1]));
      $(`#selected_detail_${detail[0]} a.delete`).on('click', function() {
        $(`#selected_detail_${detail[0]}`).remove();
      });
    }
  });
})();
