= form_tag '',
    class: 'column is-8 columns',
    id: 'exam-sets',
    'data-controller': 'ajax--select-exam-sets',
    'data-action': 'ajax--select-exam-sets#new',
    'data-ajax--select-exam-sets-resource-field': resource_field

  .field
    label.label 検査セット
    .control
      .select.is-multiple
        = select_tag 'exam_set_ids[]',
          options_from_collection_for_select(@exam_sets, :id, :set_name),
          multiple: true,
          size: 8,
          id: 'exam_sets'

  .field.column.is-6
    = submit_tag '追加', class: 'button is-primary has-text-weight-bold is-outlined is-fullwidth is-medium'
