@import "~normalize.css";
@import "~bulma";

.section {
  padding: 1rem 1.5rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main { flex: 1; }
}

#menu-toggle:checked + .navbar-menu {
  display: block;
}

input[type='date'] {
  display: block;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

/* referenced bulma/sass/elements/form.sass */
.exam-select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;

  select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
    height: initial;
    padding: 0;
    border-radius: .3em;
    border-color: hsl(0, 0%, 86%);

    :hover {
      border-color: hsl(0, 0%, 71%);
    }

    :focus {
      box-shadow: 0 0 0 0.125em hsla(217, 71%, 53%, .5);
    }

    option {
      padding: 0.5em 1em;
    }
  }
}
/* end */

.field_with_errors input {
  border: 1px solid red;
}

// font for codes
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
code {
  font-family: 'Roboto Mono', monospace;
}
